In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/LEM_proxies.csv')

In [5]:
df.head()

,ID,Unit,Facie,depth,MS,Den,FP,TS,TC,TIC,...,d13C,Montmorillonite,Muscovite,Talc,Riebeckite,Clinochlore,Microcline,Quartz,Albite,Amorphous
0,CHILL-LEM13-2C-1U 21-22 cm,U1,D1,0,44.8263,1.2104,0.8832,0.17489,2.4230,0.00000,...,-25.632247,Present,0.14,0.096,0.075,0.192,0.284,2.206,8.716,39.4
1,CHILL-LEM13-2C-1U 22-23 cm,U1,D1,1,55.8610,1.3906,0.7726,0.22951,1.8964,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CHILL-LEM13-2C-1U 23-24 cm,U1,D1,2,NaN,NaN,NaN,0.22920,2.0317,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CHILL-LEM13-2C-1U 24-25 cm,U1,D1,3,67.4362,1.4145,0.7580,0.26670,2.1059,0.19598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CHILL-LEM13-2C-1U 25-26 cm,U1,D1,4,NaN,NaN,NaN,0.25487,2.0686,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['d13C']

0     -25.632247
1            NaN
2            NaN
3            NaN
4            NaN
         ...
496          NaN
497          NaN
498   -22.501162
499          NaN
500          NaN
Name: d13C, Length: 501, dtype: float64